<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Find Duck</title>
    <link rel="stylesheet" href="style.css">
  </head>


  <body>
    <h1>Find Duck By Name</h1>
    <form method="post">
        <fieldset>
            <label><strong>Name: </strong><input type="text" name="duckName" id="duckName"></label>
            <br>
            <br>
        </fieldset>
        <br>
		<input type="submit"/>
    </form>
    <hr>
    <a href="/">HOME</a>
  </body>

</html>