<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Poetry Guesser</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>Who Wrote This Poem?</h1>

    <div id="title"></div>
    <div id="lines"></div>
    <br><br>

    
    <input type="reset">
	<input type="submit">
    <hr>
    <p>
        Created by Sami Bouhusein and Ethan Ewing
    </p>
</body>

</html>

<script>
    window.onsubmit = checkAnswer;

    function checkAnswer() {

    }


</script>