<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Poetry Guesser</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body onload="getRandomPoem()">
    <h1>Enter your information</h1>
    <div id="userInfo">
        <form>
            <label>Name: <input type="text" id="name"></label><br>
            <label>Favorite Poet: <input type="text" id="poet"></label>
        </form>
    </div>
    <h1>Who Wrote This Poem?</h1>
    <div id="score">
        Score: 0
    </div>

    <div id="title"></div>
    <div id="lines"></div>
    <br><br>


    <div id="guessingArea">
        Guess: <input type="text" id="guess" placeholder="William Shakespeare">
        <input type="button" id="hintButton" value="Show Hint" onclick="showHint()">
        <input type="button" id="submit" value="Submit Guess" onclick="checkAnswer()">
    </div>
    <hr>
    <a href="/">Return to home page</a>
    <br>
    <p id="credits">
        Created by Sami Bouhusein and Ethan Ewing
    </p>
</body>

</html>

<script>

    let total = 0
    class Poem {
        name;
        lines;
        author;

        constructor(name, lines, author) {
            this.name = name;
            this.lines = lines;
            this.author = author;
        }

        fillPoem = () => {

        }

        getName = () => {
            return this.name;
        };

        getLines = () => {
            return this.lines;
        };

        getAuthor = () => {
            return this.lines;
        };

        isAuthor = (guess) => {
            return String(this.author).toUpperCase() === String(guess).toUpperCase();
        };
        
    }
    let shown = false

    function playAgain(){
        console.log("It seems you would like to play again");
        total = 0
        const scoreDisp = document.querySelector("#score");
        scoreDisp.innerHTML = `Score: ${total}`;
        const guessArea = document.querySelector("#guessingArea");
        let ga = `Guess: <input type="text" id="guess" placeholder="William Shakespeare">
        <input type="button" id="hintButton" value="Show Hint" onclick="showHint()">
        <input type="button" id="submit" value="Submit Guess" onclick="checkAnswer()">`;
        guessArea.innerHTML = ga;
        document.querySelector("#guess").value = "";
        document.querySelector("#lines").innerHTML = "";
        shown = false;
        getRandomPoem();
    }
    
    let poem = new Poem()

    function getRandomPoem() {
        let poemUrl = `https://poetrydb.org/random`;
        fetch(poemUrl)
            .then(response => response.json())
            .then(json => {
                const title = json[0].title;
                const author = json[0].author;
                const lines = json[0].lines;
                console.log(`Hey you're cheating - don't tell anyone but the author is ${author}`)
                poem = new Poem(title, lines, author)
                const titleDisp = document.querySelector("#title");
                titleDisp.innerHTML = `<h2>Poem Title: <em>${title}</em><h3>`
            });
    }

    function showHint() {
        if (!shown) {
            const linesDisp = document.querySelector("#lines");
            let linesFormatted = poem.getLines().join('<br>');
            linesDisp.innerHTML = `${linesFormatted}`
            shown = true
        }
    }

    function checkAnswer() {
        const guess = document.querySelector("#guess").value; 
        const scoreDisp = document.querySelector("#score");
        if (poem.isAuthor(guess)) {
            total += 1;
            scoreDisp.innerHTML = `Score: ${total}`;
            document.querySelector("#guess").value = "";
            document.querySelector("#lines").innerHTML = ""
            shown = false         

        } else {
            const titleDisp = document.querySelector("#title");
            const linesDisp = document.querySelector("#lines");
            const guessArea = document.querySelector("#guessingArea");
            const name = document.getElementById("name").value;
            const poet = document.getElementById("poet").value;
            titleDisp.innerHTML = `<h3>Incorrect<h3>`;
            linesDisp.innerHTML = `The correct response was ${poem.author}`;
            guessArea.innerHTML = `You got ${total} in a row correct<br><br> <form action="submit/${name}/${poet}/${total}" method="post"></label><input type="submit" value="Submit Your Score">
            <input type="button" value="Play Again" onclick="playAgain()"></form>`;
            return
        }
        console.log(`Guessed: ${guess}`);
        console.log(`Correct Response: ${poem.author}`);

        getRandomPoem();
    }


</script>