<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <h1>Welcome to the Poetic Duck Generator</h1><br>
    <h2>Create a Poetic Duck</h2>
    <ul>
      <li>Create an Instance: <a href="/create">Click Here</a></li>
    </ul>
    <hr>
    <h2>View Poetic Ducks</h2>
    <ul>
      <li>Find by Duck: <a href="/findDuck">Click Here</a></li>
      <li>Find by Poem <a href="/findPoem">Click Here</a></li>
    </ul>
    <hr>
    <p>
        Created by Sami Bouhussein and Ethan Ewing
    </p>
  </body>

</html>