<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Leaderboard</title>
  </head>


  <body>
    <h1>Leaderboard</h1>
    <div><%- tableHTML %></div>
    <br>
    <p>
        Thanks for playing!
    </p>
  </body>

</html>