<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Leaderboard</title>
    <link rel="stylesheet" href="styles.css">
  </head>


  <body>
    <h1>Leaderboard</h1>
    <div id="info"><%- tableHTML %></div>
    <br>
    <p>
        Thanks for playing!
    </p>
    <hr>
    <a href="/">Return to home page</a>
    <br>
    <p id="credits">
        Created by Sami Bouhussein and Ethan Ewing
    </p>
  </body>

</html>