<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Post Submit</title>

    <style>
        html {
          font-size: 14px;
        }
  
        body {
          border: 0.5rem solid brown;
          border-style: groove;
          padding: 1rem;
          background-color: antiquewhite;
        }
  
        #credits {
          font-style: italic;
        }
      </style>
  </head>


  <body>
    <h1>Score Submitted</h1>
    <br>
    <p>
        Check the leaderboard to see how you stack up!
    </p>
    <hr>
    <a href="/">Return to home page</a>
    <br>
    <p id="credits">
        Created by Sami Bouhussein and Ethan Ewing
    </p>
  </body>

</html>